:root {
/* *Fonts* */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

/* *Background colors* */

  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;

/* *Text colors* */

  --header-text-color: #212121;
  --hero-text-color: #fff;
  --main-text-color: #757575;
  

  --accent-color: #2196f3;
  --secondary-color: #000;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* *Обнуляем стили* */

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.hiden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

/* *Общие значения* */

.container {
 width: 1200px;

 padding-left: 15px;
 padding-right: 15px;

 margin-left: auto;
 margin-right: auto;
}

.title {
  margin-bottom: 50px;

  color: var(--header-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.text {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* *Header* */

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  padding: 20px 0px;
  margin-left: 50px;
}

.navigation-item:first-child {
  margin-left: 93px;
}

.navigation-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-contacts-item {
margin-right: 30px;
}

.navigation-contacts-item:last-child {
  margin-right: 0px;
}

/* Логотип */
.logo{
  display: flex;
  align-items: center;
  /* margin-right: 93px; */
}

.logo-primary {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-secondary {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Цвет ссылок Хедера */
.navigation-link {
  color: var(--header-text-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link-contacts {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-icon {
  fill: currentColor;

  margin-right: 10px;
}

/* Эффект ховера и фокуса */
.navigation-link:hover,
.navigation-link:focus,
.navigation-link-contacts:hover,
.navigation-link-contacts:focus {
  color: var(--accent-color);
}

/* *Hero* */

.hero-container {
  width: 696px;
  text-align: center;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: rgba(47, 48, 58, 0.4) ;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero.jpg);
  
}

.hero-title {
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
 
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;
  
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--hero-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188CE8;
  color: var(--hero-text-color);
}

/* *Feature* */

.feature-container {
  display: flex;
  align-items: center;
}

.feature-list {
  padding-right: 30px;
}

.feature-list:last-child {
  padding-right: 0px;
}

.feature-box-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  background-color: #F5F4FA;
  border-radius: 4px;

  margin-bottom: 30px;
}

.feature-box-icons:last-child {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 10px;

  color: var(--header-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;
}

/* *Activities* */

.activities-section {
  padding-top: 0;
}

.activities-list {
  display: flex;
  align-items: center;
}

.activities-item {
  margin-right: 30px;
}

.activities-item:last-child {
  margin-right: 0;
}

/* *Team* */

.team-section {
  background-color: var(--secondary-bg-color);
  padding-top: 0;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  margin-right: 30px;
  background-color: var(--main-bg-color);
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-list {
  display: flex;
  align-items: center;
}

.team-name {
  padding-bottom: 10px;
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* *Social-icons */

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  margin-top: 16px;
  margin-right: 10px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #AFB1B8;

  background-color: #FFF;
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.socials-icons {
  fill: currentColor;
}

/* *Clients* */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  color: #AFB1B8;

  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* *Footer* */

.footer {
  display: flex;
  padding: 60px 0px;
  background-color: var(--hero-footer-bg-color);
}

.footer-container {
  margin-right: 70px;
}

.footer-social-box {
  margin-right: auto;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-social-title {  
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  
  color: #FFFFFF;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}

.footer-socials-item {
  margin-right: 10px;
}

.footer-socials-item:last-child {
  margin-right: 0px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  
  color: #fff;
  
  background-color: #44454E;;;
  border-radius: 50%;
}

.footer-socials-icons {
  fill: currentColor;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.logo-primary-footer {
  width: 145px;

  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-secondary-footer {
  color: var(--main-bg-color);
}

.footer-item-location,
.footer-item-contacts {
  margin-bottom: 9px;
}

.footer-item-contacts:last-child {
  margin-bottom: 0px;
}

.footer-link {
  margin-bottom: 9px;

  color: var(--hero-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/******************************/
        /* *Portfolio* */       
/******************************/

/* *Gallery button* */

.gallery-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.gallery-nav-item {
  margin-right: 8px;
}

.gallery-nav-item:last-child {
  margin-right: 0;
}

.nav-btn {
  padding: 6px 22px;

  color: var(--header-text-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #2196F3;
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* *Content* */

.content-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-item:nth-child(3n){
  margin-right: 0px;
}

.content-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.content-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.content-title {
  padding-bottom: 4px;

  color: var(--header-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;

}

.content-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
}